@use '../abstracts/variables' as *;

.main {
    min-width: 0;
    padding: 32px;
    background-color: $white-light;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;
        margin-bottom: 24px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
    }
}
