@use '../abstracts/variables' as *;

.sidebar {
    background-color: $black;
    position: sticky;
    top: 0;
    height: 100vh;

    &__nav {
        height: 100%;
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__brand {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-title {
            font-size: 2rem;
            font-weight: 400;
            color: $white-dark;
        }

        &-subtitle {
            color: $white-dark;
        }
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__logout {
        display: flex;
        justify-content: center;

        &-button {
            display: flex;
            align-items: center;
            gap: 8px;

            padding: 8px 16px;
            border: none;
            background: none;

            color: $white-dark;
            font-family: inherit;
            font-size: 1rem;

            cursor: pointer;

            &:hover {
                color: $white-light;
            }

            i {
                color: inherit;
            }
        }
    }
}

.sidebar-menu {
    display: flex;
    flex-direction: column;

    &__title {
        margin-left: 32px;
        margin-bottom: 8px;
        font-size: 1.5rem;
        font-weight: 400;
        text-transform: capitalize;
        color: $white-dark;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }

    &__item {

        &.active {
            background-color: $white-dark;

            .sidebar-menu__link {
                color: $black;
                font-weight: 500;
            }

            i {
                color: $purple-dark;
            }
        }

        &:hover {
            background-color: $white-light;

            .sidebar-menu__link,
            i {
                color: $black-dark;
            }
        }
    }

    &__link {
        display: block;
        padding: 8px;
    }

    &__link {
        margin-left: 32px;
        color: $gray-dark;
        text-transform: capitalize;

        i {
            color: $gray-dark;
            margin-right: 4px;
        }
    }
}
