// Blanc
$white-light: #FFFFFF;
$white: #F5F5F5;
$white-dark: #E5E5E5;

// Gris
$gray-light: #D1D5DB;
$gray: #9CA3AF;
$gray-dark: #6B7280;

// Noir
$black-light: #4B5563;
$black: #1F2937;
$black-dark: #111827;

// Bleu
$blue-light: #93C5FD;
$blue: #60A5FA;
$blue-dark: #3B82F6;

// Vert
$green-light: #86EFAC;
$green: #4ADE80;
$green-dark: #22C55E;

// Rouge
$red-light: #FCA5A5;
$red: #F87171;
$red-dark: #EF4444;

// Orange
$orange-light: #FDBA74;
$orange: #FB923C;
$orange-dark: #F97316;

// Jaune
$yellow-light: #FDE047;
$yellow: #FACC15;
$yellow-dark: #EAB308;

// Violet
$purple-light: #C4B5FD;
$purple: #A78BFA;
$purple-dark: #8B5CF6;
