@use '../abstracts/variables' as *;

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid $purple-dark;
    cursor: pointer;

    * {
        color: $gray-dark;
    }

    &--primary {
        border: none;
        background-color: $purple-dark;
        * {
            color: $white;
        }
    }
}

