@use '../abstracts/variables' as *;

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    &--square {
        border-radius: 8px;
    }

    &--round {
        border-radius: 50%;
    }


    &-title {
        background-color: $purple-dark;
        i {
            color: $white-light;
        }
    }

    &-label {
        background-color: $white;
        i {
            color: $purple-dark;
        }
    }

    &-notice {
        border: 2px solid $purple-dark;
        i {
            color: $purple-dark;
        }
    }
}

